.main {
  grid-area: main;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid_container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    " nav "
    " main "
    " footer";
  grid-template-rows: 5rem 1fr 8rem;
}
